{% include "base.html" %}

{% block titulopagina %}
  {{titulo}}}
{% endblock titulopagina %}

{% block contenido %}

<header class="bg-primary text-white">
        <div class="container text-center">
          <h1>{{titulo}}</h1>
          <p class="lead">{{subtitle}}</p>
        </div>
      </header>

      <section id="services" class="bg-light">
            <div class="container">
                    <div class="row">
                      <div class="col-lg-8 mx-auto">
                        <h2>{{titulo}}</h2>
                        <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut optio velit inventore, expedita quo laboriosam possimus ea consequatur vitae, doloribus consequuntur ex. Nemo assumenda laborum vel, labore ut velit dignissimos.</p>
                      </div>
                    </div>
                  </div>
       
      </section>

    

    
    <!-- Footer -->
    <footer class="py-5 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Your Website 2017</p>
      </div>
      <!-- /.container -->
    </footer>
  
{% endblock contenido %}